.nav {
  background-color: bisque;
  padding: 12px 24px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav a:hover {
  color: brown;
}
