.form-container {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #bd5e22;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #288e4d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  background-color: #4338ca;
}